a {
  display: inline-block;
  text-decoration: none;
}

.row {
  display: flex;
}

.button {
  margin-top: 50px;
}

.options {
  text-align: center;
  width: 19vw;
  display: grid;
}

.sudoku_container {
  display: inline-block;
  text-align: center;
}

#unsolved_sudoku {
  width: 40vw;
}

#solved_sudoku {
  width: 40vw;
}

.difficult_options_container  {
}

.other_buttons {
  align-self: middle;
}

label {
  margin: 10px 20px 10px 20px;
  display: block;
}

label span {
  font-size: 20px;
  padding: 13px 0px;
  display: block;
}

label input {
  position: absolute;
  top: -20px;
}

input:checked + span {
  background-color: #404040; 
  color: #F7F7F7;
}

.difficult_button {
  background-color: #DCDCDC;
}

.generate_button {
  background-color: #FF2400;
}

.source_code_button {
  background-color: #32CD32;
}
