<!doctype html>
<head>
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="static/index.css">
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
  <script type="text/javascript" src="{{ url_for('static', filename='generate.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='init.js') }}"></script>
  <script>
    var unsolvedSudokuPath = "static/sudokus/unsolved.png?puzzle=";
    var solvedSudokuPath = "static/sudokus/solved.png?puzzle="; 
    var emptySudokuPath = "static/sudokus/empty.png";
  </script>
{% endblock %}

</head>

<body onload="initialize()">

{% block content %}

  <div class="row">
    <div class="sudoku_container">
      <img id="solved_sudoku" src=""></img>
    </div> 

    <div class="options">
      <div class="difficult_options_container">
        <form>
  
        <label class="difficult_button">
          <input type="radio" id="easy" name="difficult" value="easy" checked>
            <span>
              EASY
            </span>
        </label>

        <label class="difficult_button">
          <input type="radio" id="medium" value="medium" name="difficult">
            <span>
              MEDIUM
            </span>
        </label>

        <label class="difficult_button">
          <input type="radio" id="hard" value="hard" name="difficult">
            <span>
              HARD
            </span>
        </label>

        <label class="difficult_button">
          <input type="radio" id="impossible" value="impossible" name="difficult">
            <span>
              IMPOSSIBLE
            </span>
        </label>

        </form>
      </div>

      <div class="other_buttons">
        <label class="generate_button">
          <span>
            <input type="radio" id="generation_button">
              GENERATE
          </span>
        </label>

        <label class="source_code_button">
          <span>
            <input type="radio" id="source_code_button">
              <a href="https://github.com/lukaszszymankiewicz/pydoku_cute" target="_blank">
                SOURCE CODE
              </a>
          </span>
        </label>

      </div>
    </div>

    <div class="sudoku_container">
      <img id="unsolved_sudoku" src=""></img>
    </div> 
</div> 

{% endblock %}
